$delta-green: #3fb923;

.delta {
    color: #888888;
    font-size: 13px;
    font-weight: normal;

    :global(.current-num-outline) + & {
        padding-right: 5px;
    }
}

@mixin arrow-sign {
    display: inline-block;
    margin: 2px 3px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    opacity: 0;
    animation: signfade .7s linear forwards;
}

@keyframes signfade {
    0% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.arrow-sign-positive {
    @include arrow-sign;
    border-bottom: 5px solid #3dae23;
}

.arrow-sign-negative {
    @include arrow-sign;
    border-top: 5px solid #e8464a;
}

.footer-unit-value-percent {
    font-size: 16px;
}

:global {
    .footer-unit {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .current-num-outline[data-etoro-automation-id="portfolio-overview-table-body-cell-last-price"]  {
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

$control-menu-item-border: .5px solid rgba(151,151,151,.1);
$control-menu-item-color: #636363;
$control-menu-item-color-hover: #080f13;
$control-menu-footer-color: #777777;

.control-menu-container {
    display: inline-flex;
    flex-direction: column;
    float: left;

    .control-menu-button {
        display: inline-flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        &::before {
            // Initiates loading of font weight 600;
            content: "a";
            font-weight: 600;
            user-select: none;
            color: transparent;
            width: 0;
            height: 0;
            position: absolute;
        }

        &.control-menu-button-active,
        &:hover {
            .control-menu-logo,
            .control-menu-button-date {
                filter: brightness(0.17);
            }
        }

        .control-menu-logo {
            background-size: contain;
            margin-right: -12px !important;
            filter: brightness(0.38);
        }

        .control-menu-button-date {
            display: inline-block;
            color: #616161;
            font-size: 18px;
            margin-right: 12px;
            user-select: none;
        }
    }

    .control-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 362px;
        max-height: 410px;
        background-color: #FFFFFF;
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, .1);
        border-radius: 3px;

        &:not(.control-menu-open) {
            display: none;
        }

        .control-menu-header {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            border-bottom: $control-menu-item-border;
            color: $control-menu-item-color;
            padding: 10px 12px;

            .control-menu-header-button {
                display: flex;
                align-items: center;
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                    color: $control-menu-item-color-hover;
                }
            }

            .create-icon::before {
                content: "\e952";
                font-family: iconFont;
                font-style: normal;
                margin-right: 6px;
            }

            .cancel-icon::before {
                content: "\e919";
                font-family: iconFont;
                font-style: normal;
                margin-right: 6px;
            }
        }

        .control-menu-footer {
            display: flex;
            justify-content: space-between;
            font-size: x-small;
            color: $control-menu-footer-color;
            padding: 0 12px;
            border-top: $control-menu-item-border;
        }
    }
}

.snapshot-list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
    text-align: center;

    &:empty::before {
        content: "No snapshots found ¯\\_(ツ)_/¯ \A Create one above.";
        white-space: pre-wrap;
        padding: 10px;
        color: $control-menu-item-color;
        font-size: small;
    }

    .snapshot-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        padding: 10px 12px;
        background-color: #f7f7f7;

        &:not(:last-child) {
            border-bottom: $control-menu-item-border;
        }

        &.snapshot-item-selected {
            font-weight: 600;
            background-color: #fff;
            cursor: default;

            &::after {
                content: "Δ";
                color: $delta-green;
                font-size: 25px;
                line-height: 0;
            }
        }

        .snapshot-item-date {
            flex: 1;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
        }

        .snapshot-item-delete-button {
            display: none;
            margin-left: 5px;
            cursor: pointer;

            &::before {
                content: "\e92f";
                font-family: iconFont;
                color: $control-menu-item-color;
            }
            &:hover::before {
                color: #CE1D1D;
            }
            &:active::before {
                font-weight: bold;
            }
        }

        &:hover:not(.snapshot-item-selected) .snapshot-item-delete-button {
            display: inline-flex;
        }
    }
}

.custom-delta-footer {
    padding: 13px 15px;

    &:global(.currency-title-item):last-child {
        border-top: 1px solid #d7d7d7;
        border-bottom: none;
    }

    > :global(.currency-item):first-child {
        font-size: unset;
        font-weight: bold;
    }

    i.delta-symbol {
        color: $delta-green;
        font-size: 30px;
        font-weight: normal;
        font-style: normal;
        margin-left: 5px;
        vertical-align: middle;

        &::before {
            content: "Δ";
        }
    }

    input.custom-delta-input {
        height: 43px;
        vertical-align: middle;
        border: 1px solid #dcdcdc;
        border-radius: 3px;
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        padding: 0 12px;

        &::placeholder {
            font-size: 16px;
        }
    }
}
