.header-control-panel {
    display: inline-flex;
    height: 100%;
    padding: 0 13px;
    flex-direction: column;
    justify-content: space-evenly;
}

.control-panel-actions-row {
    display: flex;
    justify-content: space-around;
}